/*base classes*/
. {
	display: inline-block;
}
/*base classes*/
body{
	margin-top: 0
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0; 	
}
.wrapper, .container{
		margin: 30px auto auto 30px;
	}
ul{
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
	padding-left: 0;
}
.logo{
	 width: 100px;
	
}
.navigation{
	margin-top: 22.5px;
}
.navigation-a{
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	display: inline-block;
	text-decoration: none;
	font-family: "ninoBold";
	color: #3D58A6;
	font-size: 22px;
}
.navigation-a.active{
	color: #EE4036;
}
.banner-section{
	margin-top: 22.5px;
}
.banner-img{
	width: 1170px;
 }
 /*footer*/
 .footer{
 	margin-top: 30px;
 }
 .divider{
 	height: 30px;
 	width: 3px;
 	background-color: #3D58A6;
 	margin: auto 30px;
 }
 .social-img{
 	height: 30px;
 }
  /* footer */

  /* conact container */
.text-container{
	text-align: center;
	padding: 150px 0;
} 
.text-container .title{
	color: #3D58A6;
	font-family: "ninoBold";
	font-size: 20px;
}
.contact-li span{
	color: #808080; 
}
.contact-li{
	font-family: "ingiri";
	color: #000000;
}
/* conact container */
.display-inline-block {

	display:inline-block;
}